/* Réinitialisation des styles par défaut du navigateur */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* Styles spécifiques à la section "Associations" */
#association {
    background-color: #e0f7fa; /* Couleur de fond différente */
}

/* Styles spécifiques aux liens */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
